node_modules
dist
.astro
public/vendor

.git
.gitignore

.env
.env.production
env.example

*.log
coverage
playwright-report
test-results

.codegraph
.engram
.atl
doc
docs

stitch_alba_abogacia_law_firm_website
